<p>
	<%= form.label :title, "Text for Link:" %>
	<%= form.text_field :title %>
</p>
<p>
	<%= form.label :output, "Quote Text:" %>
	<%= form.text_area :output, :rows => 3 %>
</p>
<p>
	<%= form.label :attributed_to, "Sayer of Quote:" %>
	<%= form.text_field :attributed_to %>
</p>