<p>
		<%= link_to "Insert image", manage_image_files_path, :class => "modal-new-window", :style => "float: right;" %>
   <%= form.label :output, "Text  (uses <a href=\"http://www.textism.com/tools/textile/\" target=\"_blank\">Textile</a>):" %><br />
   <%= form.text_area :output %>
 </p>
<% if authorized?(:admin) %>
	<p>
	   <%= form.label :is_html, "Use HTML instead of Textile?:" %><br />
	   <%= form.check_box :is_html %>
	</p>
<% end %>