<p>
  <b>Title:</b>
  <%=h @feed.title %>
</p>

<p>
  <b>Link:</b>
  <%=h @feed.link %>
</p>

<p>
  <b>Description:</b>
  <%=h @feed.description %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>