<h1>Editing scroll</h1>

<% form_for(@scroll) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :vertical %><br />
    <%= f.check_box :vertical %>
  </p>
  <p>
    <%= f.label :scrollable_id %><br />
    <%= f.text_field :scrollable_id %>
  </p>
  <p>
    <%= f.label :scrollable_type %><br />
    <%= f.text_field :scrollable_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @scroll %> |
<%= link_to 'Back', scrolls_path %>