<% content_for :auto_discovery_link do %>
	<%= auto_discovery_link_tag :rss, blog_posts_url(1, :format => :rss) %>
<% end %>

<h4>
	<%= link_to blog.title, blog %>
	<%= link_to image_tag("rss.png", :size => "18x20", :alt => "RSS icon"), blog_posts_url(blog, :format => :rss), :title => "RSS", :target => "_blank" %>
</h4>
<ul class="blog_posts">
	<% blog.recent_posts(4).each do |post| %>
		<% content_tag_for :li, post do %>
			<strong><%= post.published_on.to_formatted_s(:long) %>: </strong>
			<%= link_to post.title, blog_post_path(post.blog,post) %>
		<% end %>
	<% end %>
</ul>