<% content_for :auto_discovery_link do %>
	<%= auto_discovery_link_tag :rss, blog_posts_url(1, :format => :rss) %>
<% end %>

<% content_for :body_class do %>
	<%= "admin-mode" if authorized? %>
	<%= dom_id(@section) %>
<% end %>

<%= render :partial => "blogs/archive_menu" %>

<div class="content has-sidebar-right">
	<div id="blog_title">
		<h4><%= link_to @blog.title, @blog %></h4>
		<%= link_to image_tag("rss.png", :size => "18x20", :alt => "RSS icon", :id => "blog_rss_link"), blog_posts_url(@blog, :format => :rss), :title => "RSS", :target => "_blank" %>
	</div>
	<% unless @posts.blank? %>
		<ul id="blog_posts_list" class="blog_posts">
			<% @posts.each do |post| %>
				<%= render :partial => 'post', :locals => { :post => post } %>
			<% end %>
		</ul>
	<% else %>
		<p>There are no articles to list.</p>
	<% end %>
</div>