<p>
    <%= form.label :short_name, "Text for menu link:" %><br />
    <%= form.text_field :short_name %>
  </p>
  <p>
    <%= form.label :long_name, "Full Title:" %><br />
    <%= form.text_field :long_name %>
  </p>
  <p>
    <%= form.collection_select :parent_id, Section.all, :id, :long_name, { :prompt => "is part of...", :include_blank => "None" } %>
  </p>
  <p>
    <%= form.label :published %><br />
    <%= form.check_box :published, :checked => "checked" %>
  </p>
	<p>
    <%= form.label :display_title, "Display the title?:" %><br />
    <%= form.check_box :display_title %>
  </p>
	<%= render :partial => "seo_profiles/form_include", :locals => { :f => form } %>