<h1>Listing sections</h1>

<table>
  <tr>
    <th>Short name</th>
    <th>Long name</th>
    <th>Position</th>
    <th>Parent</th>
    <th>Published</th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%=h section.short_name %></td>
    <td><%=h section.long_name %></td>
    <td><%=h section.position %></td>
    <td><%=h section.parent_id %></td>
    <td><%=h section.published %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section', new_section_path %>