<h1>Editing block</h1>

<% form_for([@section,@page,@block], :html => { :class => "ajax" }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @block unless request.xhr? %> |
<%= link_to 'Back', blocks_path unless request.xhr? %>