<h1>Listing pages</h1>

<table>
  <tr>
    <th>Short name</th>
    <th>Long name</th>
    <th>Section</th>
    <th>Position</th>
    <th>Published</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.short_name %></td>
    <td><%=h page.long_name %></td>
    <td><%=h page.section_id %></td>
    <td><%=h page.position %></td>
    <td><%=h page.published %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_section_page_path(@section) %>