<% unless @page.seo_profile.blank? %>
	<% content_for :title do %><%=h @page.seo_profile.title || "Blockhead" %><% end %>
	<% content_for :seo_keywords do %><%=h @page.seo_profile.keywords || "Blockhead" %><% end %>
	<% content_for :seo_description do %><%=h @page.seo_profile.description || "Blockhead" %><% end %>
	<% content_for :seo_heading1 do %><%=h @page.seo_profile.h1 || "Blockhead" %><% end %>
	<% content_for :seo_heading2 do %><%=h @page.seo_profile.h2 || "Blockhead" %><% end %>
<% end %>

<% content_for :body_class do
	body_class = ""
	body_class << "admin-mode" if authorized?
	body_class << " root_" + dom_id(@section_root) unless @section_root == @section
	body_class << " " + dom_id(@section)
	body_class << " " + dom_id(@page)
	puts body_class.strip!
end %>

<% content_for :alert do %>
	<% if authorized? %>
		<% unless @section.published? %>
			<div style="background: green;">
				<% form_for(@section) do |f| %>
					<%= f.hidden_field :published, :value => 1 %>
					This section is not published.
					<%= f.submit "Publish" %>
				<% end %>
			</div>
		<% end %>
		<% unless @page.published? %>
			<div style="background: blue;">
				<% form_for([@section,@page]) do |f| %>
					<%= f.hidden_field :published, :value => 1 %>
					This page is not published.
					<%= f.submit "Publish" %>
				<% end %>
				</div>
		<% end %>
	<% end %>
<% end %>

<% content_for :admin_toolbar do %>
	<li><strong>Section:</strong></li>
	<% if authorized?(:admin) %>
		<li><%= image_tag 'add.png', :size => "16x16" %><%= link_to "Add Section", new_section_path, :class => "modal update_navigation" %></li>
		<li><%= image_tag("pencil.png", :size => "16x16", :alt => "Edit") %><%= link_to "Edit Section", edit_section_path(@section), :class => "modal update_navigation", :title => "Edit" %></li>
		<li><%= image_tag("fail.png", :size => "16x16", :alt => "Delete") %><%= link_to "Delete Section", @section, :confirm => "Are you sure?", :method => "delete", :title => "Delete" %></li>
	<% end %>
	<li><%= image_tag 'add.png', :size => "16x16" %><%= link_to "Add Page to Section", new_section_page_path(@section), :class => "modal update_navigation" %></li>
	<li><strong>Page:</strong></li>
	<li><%= image_tag("pencil.png", :size => "16x16", :alt => "Edit") %><%= link_to "Edit Page", edit_section_page_path(@section,@page), :class => "modal update_navigation", :title => "Edit" %></li>
	<li><%= image_tag("fail.png", :size => "16x16", :alt => "Delete") %><%= link_to "Delete Page", [@section,@page], :confirm => "Are you sure?", :method => "delete", :title => "Delete" %></li>
	<li><%= image_tag 'add.png', :size => "16x16" %><%= link_to 'Manage SEO', { :controller => 'seo_profiles', :action => 'index' }, :class => 'modal' %></li>
	<li><%= image_tag("add.png", :size => "16x16", :alt => "New") %><%= link_to "Add Block to Page", new_section_page_block_path(@section,@page), :class => "modal append_main", :title => "Edit" %></li>
<% end %>

<% unless @section.parent.blank? || ( @section.siblings.blank? and @section.pages.size == 1 )  %>
	<% content_for :container_class do %>has-sidebar-left<% end %>
	<%= render :partial => "common/page_menu" %>
<% end %>

<div id="main">

<% if @section.display_title %>
	<h3 class="heading myriadpro"><%= @section.long_name %></h3>
<% elsif @page.display_title %>
	<h3 class="heading myriadpro"><%= @page.long_name %></h3>
<% elsif !@section.parent.blank? %>
	<h3 class="heading myriadpro"><%= @section.parent.long_name %></h3>
<% end %>

<%= render :partial => "pages/block", :collection => @page.blocks.roots %>

</div><!-- end 'main' -->

