<% if defined?(@page) == "instance-variable" %>
	<% unless @page.seo_profile.blank? %>
		<% content_for :title do %><%=h @page.seo_profile.title || "Blockhead" %><% end %>
		<% content_for :seo_keywords do %><%=h @page.seo_profile.keywords || "Blockhead" %><% end %>
		<% content_for :seo_description do %><%=h @page.seo_profile.description || "Blockhead" %><% end %>
		<% content_for :seo_heading1 do %><%=h @page.seo_profile.h1 || "Blockhead" %><% end %>
		<% content_for :seo_heading2 do %><%=h @page.seo_profile.h2 || "Blockhead" %><% end %>
	<% end %>
<% end %>

<% content_for :auto_discovery_link do %>
	<%= auto_discovery_link_tag :rss, blog_posts_url(1, :format => :rss) %>
<% end %>

<% content_for :body_class do 
	body_class = ""
	body_class << " admin-mode" if authorized?
	body_class << (" " + dom_id(@section))
	puts body_class.strip!
end %>

<% content_for :alert do %>
	<% if authorized? %>
		<% unless @post.published? %>
			<div style="background: blue;">
				<% form_for([@blog,@post]) do |f| %>
					<%= f.hidden_field :published, :value => 1 %>
					This post is not published.
					<%= f.submit "Publish" %>
				<% end %>
				</div>
		<% end %>
	<% end %>
<% end %>

<% div_for @post do %>
	<%= render :partial => "blogs/archive_menu" %>

	<div class="post content has-sidebar-right">
		<div id="blog_title">
			<h4><%= link_to @blog.title, @blog %></h4>
			<%= link_to image_tag("rss.png", :size => "18x20", :alt => "RSS icon", :id => "blog_rss_link"), blog_posts_url(@blog, :format => :rss), :title => "RSS", :target => "_blank" %>
		</div>
		<div class="post_title">
			<%= @post.title %>
			<% if authorized? %>
				<%= link_to image_tag("pencil.png", :size => "16x16"), edit_blog_post_path(@blog,@post), :title => "Edit Post", :class => "modal update_post_#{@post.id}" %>
			<% end %>
		</div>
		<div class="post_date"><%= @post.published_on.to_formatted_s(:long_ordinal) %></div>
		<div class="post_body autoscroll">
			<%= textilize(@post.body) %>
			<%= render :partial => "common/scroll_buttons" %>
		</div>
		<div>
			<%= link_to "Back", @blog %>
		</div>
	</div>
<% end %>